/* Shared Story Styles */
@import 'theme';

.sfRowOfItems,
.sfColumnOfItems {
  display: flex;
  flex-wrap: wrap;

  > * {
    align-self: flex-start;
    margin: size(xxs);
  }
}

.sfColumnOfItems {
  flex-direction: column;
}

.sfCentered {
  @include flex-centered;
}

.sfDarkTheme,
.sfLightTheme {
  padding: size(m);
}

.sfDark {
  background-color: background-dark();
}
