@import '../../theme';

@mixin generate-font-sizes($sizes) {
  @each $size in $sizes {
    $value: font-size($size);

    .font-size-#{$size} {
      font-size: $value;

      &::after {
        content: '#{$size} | #{$value}';
      }
    }
  }
}

@mixin generate-families($families) {
  @each $family in $families {
    $value: font-family($family);

    .font-#{$family} {
      font-family: $value;

      .font-name {
        &::after {
          content: '#{$value}';
        }
      }

      &.lorem.show-family-name {
        &::after {
          content: '#{$family}';
        }
      }
    }
  }
}

@mixin generate-font-weights($weights) {
  @each $weight in $weights {
    $value: font-weight($weight);

    .font-weight-#{$weight} {
      font-weight: $value;
    }
  }
}

:global {
  @include generate-families(map-keys($palette-font-family));
  @include generate-font-sizes(map-keys($palette-font-size));
  @include generate-font-weights(map-keys($palette-font-weight));

  .lorem {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    &::after {
      font-family: font-family(body);
      font-size: font-size(s);
      font-weight: font-weight(normal);
      color: foreground(faded-text);
      margin-bottom: size(s);
    }
  }

  .font-name {
    &::after {
      display: block;
      color: foreground(light-text);
      font-size: font-size(s);
      font-weight: font-weight(normal);
      margin: size(m) 0;
    }
  }
}

.Font {
  margin-bottom: size(xl);
}

// .fontTitle { }
// .fontSize { }
// .FontFamilies { }

.fontWeightLorem {
  font-size: font-size(l);
}

// .FontWeights { }

