// You can add global styles to this file, and also import other style files
@import '../theme';

// Files that should only be imported once.
@import 'animation-keyframes';
@import 'font-faces';

html,
body {
  margin: 0;
  padding: 0;
  font-size: $base-font * 1px;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
