
// Get one of the theme's font sizes.
// The available sizes are defined in `$palette-font-size`.
//
// Ex: `font-size: font-size(xxl);`
@function font-size($size: m) {
  $s: theme-value($theme-light, 'font-size', $size);
  @return $s * $font-size-unit;
}

// Get one of the theme's font weights.
// The available weights are defined in `$palette-font-weight`.
//
// Ex: `font-size: font-size(bold);`
@function font-weight($weight: normal) {
  $w: theme-value($theme-light, 'font-weight', $weight);
  @return $w;
}

@function font-family($family: body) {
  $f: theme-value($theme-light, 'font-family', $family);
  @return $f;
}

